/* style tiles to fit on the screen */

/* nice background */

/* cool tile covers */
/* :root {
  --offsetX: 0;
} */

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  /* overflow: hidden; */

  perspective: 1000px;
}

img {
  /* width: 100%; */
  height: 100%;
  object-fit: cover;
  margin: auto;
  margin-left: 50%;
  margin-top: 50%;
  transform: translate(-50%, -50%);
}

.tile {
  background-color: rgb(254, 104, 197);
  overflow: hidden;
}

.container {
  display: flex;
  background-color: purple;
  width: 100%;
  height: 100%;
  justify-content: space-evenly;
  align-content: space-evenly;
  flex-wrap: wrap;
  gap: 5px;

  /* confetti */
  transform-style: preserve-3d;
  overflow: hidden;
}

.hidden {
  visibility: hidden;
}

.confetti {
  position: absolute;
  inset: 50%;
  z-index: 10;
  transform-style: preserve-3d;
}

.confetti > span {
  /* give random values to each piece */
  position: absolute;
  width: var(--confetti-size);
  border-radius: var(--shape);
  aspect-ratio: 1;
  background: hsl(var(--hue) 100% 50%);
}

.explosion > span {
  animation: confettiSpread 6s cubic-bezier(0, 1, 1, 1); /* pop quick, drop slow */
}

.explosion {
  animation: confettiSettle 6s;
}

@keyframes confettiSpread {
  25% {
    translate: 0 -40vh; /* How high confetti pops */
  }
  100% {
    translate: 0 -40vh;
    transform: translateX(var(--offsetX)) translateY(var(--offsetY))
      translateZ(var(--offsetZ)) rotateX(var(--spin)) rotateY(var(--spinY));
    /* add dynamics to confetti pieces */
  }
}

@keyframes confettiSettle {
  0%,
  30% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translateY(60vh); /* How low the confetti falls */
    opacity: 0;
  }
}

@supports (-webkit-touch-callout: none) {
  /* CSS specific to iOS devices */
  @keyframes confettiSpread {
    25% {
      translate: 0 -10vh; /* How high confetti pops */
    }
    100% {
      translate: 0 -10vh;
      transform: translateX(var(--offsetX)) translateY(var(--offsetY))
        translateZ(var(--offsetZ)) rotateX(var(--spin)) rotateY(var(--spinY));
      /* add dynamics to confetti pieces */
    }
  }
}
